.board {
  display: flex;
  flex-wrap: wrap;
}

.memo {
  width: 250px;
  height: 200px;
  border: 1px solid #000000;
  margin: 30px;
  padding: 20px;
}

.input-field {
  margin: 30px;
  border: 1px solid #000000;
}

.submit-button {
  cursor: pointer;
}